@model MvcRacunala.Models.Racunala

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o računalu</h1>

<div>
    <h4>Računalo:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vrsta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stanje)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
